{{> head }}
    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>Abaut - Demo</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quo perspiciatis iste? Exercitationem officia facilis sunt quibusdam alias delectus ipsa soluta necessitatibus quisquam officiis obcaecati perferendis, sed vel, aliquam deserunt!</p>
        </div>
        <div class="col-4">
            <img src="assets/img/recorda.png" class="img-thumbnail">
        </div>
    </div>
    

{{> footer }}